**/.idea
**/target
.vscode/settings.json
**/node_modules/**
react-creating-a-full-stack-site/my-blog-backend/credentials.json
**/node_modules/**
**/node_modules/**
algorithms/playground/index.html
algorithms/playground/scripts.js
algorithms/playground/script.js
algorithms/playground/playground.code-workspace
