:root {
    --black: #222;
    --grey: #777;
    --white: #EEE;
    --color-1: #4682b4;
    --color-2: #ff6347;
    --color-3: #7fffd4;
    --color-4: #eaed45;
}

.header-wrapper {
    background-color: var(--black);
    position: fixed;
    display: flex;
    height: 8rem;
    width: 100%;
}

.header-content {
    display: flex;
    margin: auto;
    width: 90%;
    background-color: var(--white);
}

.header-content div {
    height: 4rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content :nth-child(1) {
    flex: 2;
}

.header-content :nth-child(2) {
    flex: 5;
}

@media screen and (max-width: 800px) {
    .header-content :nth-child(3) {
        display: none;
    }   
}

/* base styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    min-width: 280px;
}

.color-1 {
    background-color: var(--color-1);
}

.color-2 {
    background-color: var(--color-2);
}

.color-3 {
    background-color:var(--color-3);
}

.color-4 {
    background-color:var(--color-4);
}

.black {
    background-color: var(--black);
}

.grey {
    background-color: var(--grey);
}

.white {
    background-color: var(--white);
}